<p style="color: green"><%= notice %></p>

<%= render @private_invite %>

<div>
  <%= link_to "Edit this private invite", edit_private_invite_path(@private_invite) %> |
  <%= link_to "Back to private invites", private_invites_path %>

  <%= button_to "Destroy this private invite", @private_invite, method: :delete %>
</div>
