<h1><%=current_user.email%>'s Events</h1>

<div>
    <% @user.events.each do |event| %>
        <div>
            <h1><%= event.title %></h1>
            <div><%= event.location %></div>
            <div><%= event.description %>
            <div><%= event.date %>
        </div>
    <% end %>
</div>
<div>
    <ul>
        <h2>Upcoming Events</h2>
        <% @user.attended_events.where('date >= ?', Date.today).each do |event| %>
            <li><%= event.title %></li>
        <% end %>
    </ul>

    <ul>
        <h2>Past Events</h2>
        <% @user.attended_events.where('date < ?', Date.today).each do |event| %>
            <li><%= event.title %></li>
        <% end %>
    </ul>
</div>
<div>
    <div>
        <%= link_to "New Event", new_user_event_path(current_user) %>
    </div>
    <div>
        <%= link_to "All Events", root_url %>
    </div>
</div>