<h1>Events</h1>


<ul>
    <div><h3>Public Events:</h3></div>
    <% @events.each do |event| %>
        <li>
            <h1><%= link_to event.title, event_path(event) %></h1>
            <div><%= event.location %></div>
        </li>
    <% end %>
</ul>

<% if user_signed_in? && !@private_events.empty? %>
    <ul>
        <div><h3>Private Events:</h3></div>
        <% @private_events.each do |event| %>
            <li>
                <h1><%= link_to event.title, event_path(event) %></h1>
                <div><%= event.location %></div>
            </li>
        <% end %>
    </ul>
<% end %>

<div>
    <% if user_signed_in? %>
        <div>
            <div>
                <%= link_to "New Event", new_user_event_path(current_user) %>
            </div>
            <div>
                <%= link_to "Your events", user_path(current_user) %>
            </div>
        </div>

        <div> 
            <%= link_to "Log-out", destroy_user_session_path, data: { "turbo-method": :delete }%> Logged in as: <%= current_user.email %> 
        </div>
    <% else %>
        <div><%= link_to "Log-in", new_user_session_path %></div>
         <div><%= link_to "Create Account", new_user_registration_path %></div>
    <% end %>

</div>